*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 233, 178);
    min-width: 100vh;
}

nav{
    background-color:  #333;
    color: whitesmoke;
    display: flex;
    gap: 20vw;
    height: 10vh;
    font-size: 1.2rem;
    position: sticky;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 5vw;
}
nav li{
    color: whitesmoke ;
    text-decoration: none;
}

a:visited{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    font-size: 1.3rem;
    transform: scale(1.2);
    transition: all 0.3s;
}
  
.login-button {
    padding: 6px;
    border: none;
    background-color: blanchedalmond;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
    border: 1px solid black;
}
.login-button:hover {
    background-color: rgb(164, 161, 158);
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #594c4c;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
nav li:nth-child(2){
    text-decoration: underline;
}
nav li:nth-child(2){
    text-decoration: underline;
}